DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

BETTER_AUTH_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

RESEND_API_KEY=""
EMAIL_FROM="Purdue Hackers ID <id@purduehackers.com>"

DEV_FIXED_OTP=""
