DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

BETTER_AUTH_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_EMAIL_API_TOKEN=""
EMAIL_FROM="id@purduehackers.com"

DEV_FIXED_OTP=""
